## ide
**/.idea
*.iml

## svn
**/.metadata
**/.svn
.metadata
.svn

## backend
**/target
**/logs

## front
**/*.lock
aggregator/.settings/org.eclipse.core.resources.prefs
aggregator/.settings/org.eclipse.m2e.core.prefs
aggregator/features/.project
aggregator/features/.settings/org.eclipse.core.resources.prefs
aggregator/features/.settings/org.eclipse.m2e.core.prefs
aggregator/plugins/.project
aggregator/plugins/.settings/org.eclipse.core.resources.prefs
aggregator/plugins/.settings/org.eclipse.m2e.core.prefs
aggregator/product/.project
aggregator/product/.settings/org.eclipse.core.resources.prefs
aggregator/product/.settings/org.eclipse.m2e.core.prefs
aggregator/repository/.project
aggregator/repository/.settings/org.eclipse.core.resources.prefs
aggregator/repository/.settings/org.eclipse.m2e.core.prefs
aggregator/updatesite/.project
aggregator/updatesite/.settings/org.eclipse.core.resources.prefs
aggregator/updatesite/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.babel.editor/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.babel.editor/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.book/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.book/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.community/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.community/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.components.customvisualization/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.components.customvisualization/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.components/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.components/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.data.drivers/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.data.drivers/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.data.mongodb/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.data.mongodb/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.data.sql.ui/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.data.sql.ui/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.data.sql/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.data.sql/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.data/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.data/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.doc.samples/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.doc.samples/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.doc/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.doc/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.editor.jrexpressions.ui/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.editor.jrexpressions.ui/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.editor.jrexpressions/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.editor.jrexpressions/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.feature/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.feature/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.foundation.bundles/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.foundation.bundles/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.hibernate/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.hibernate/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.html/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.html/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.i18n.feature/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.i18n.feature/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.jre.feature/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.jre.feature/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.properties/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.properties/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.rcp.feature/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.rcp.feature/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.rcp.macosx/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.rcp.macosx/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.rcp.product/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.rcp/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.rcp/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.server.soap/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.server.soap/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.server/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.supplemental.bundles/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.supplemental.bundles/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.svgimporter/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.svgimporter/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.updatesite/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.updatesite/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.widgets.map/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.widgets.map/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio.xtext.jface/.settings/org.eclipse.core.resources.prefs
com.jaspersoft.studio.xtext.jface/.settings/org.eclipse.m2e.core.prefs
com.jaspersoft.studio/.settings/org.eclipse.m2e.core.prefs
jaxb-api-import-fragment/.settings/org.eclipse.core.resources.prefs
jaxb-api-import-fragment/.settings/org.eclipse.m2e.core.prefs
jre.linux.gtk.x86_64.feature/.settings/org.eclipse.core.resources.prefs
jre.linux.gtk.x86_64.feature/.settings/org.eclipse.m2e.core.prefs
jre.macosx.cocoa.x86_64.feature/.settings/org.eclipse.core.resources.prefs
jre.macosx.cocoa.x86_64.feature/.settings/org.eclipse.m2e.core.prefs
jre.win32.win32.x86_64.feature/.settings/org.eclipse.core.resources.prefs
jre.win32.win32.x86_64.feature/.settings/org.eclipse.m2e.core.prefs
net.sf.jasperreports.doc/.settings/org.eclipse.core.resources.prefs
net.sf.jasperreports.doc/.settings/org.eclipse.m2e.core.prefs
net.sf.jasperreports.feature/.settings/org.eclipse.core.resources.prefs
net.sf.jasperreports.feature/.settings/org.eclipse.m2e.core.prefs
net.sf.jasperreports.samples.feature/.settings/org.eclipse.core.resources.prefs
net.sf.jasperreports.samples.feature/.settings/org.eclipse.m2e.core.prefs
net.sf.jasperreports.samples/.settings/org.eclipse.m2e.core.prefs
net.sf.jasperreports/.settings/org.eclipse.core.resources.prefs
net.sf.jasperreports/.settings/org.eclipse.m2e.core.prefs
org.osgi.framework.system.packages.extra/.settings/org.eclipse.core.resources.prefs
org.osgi.framework.system.packages.extra/.settings/org.eclipse.m2e.core.prefs
